.topnav {
    background-color: grey;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.reg-form label, .log-form label{
  display: inline-block;
  width: 100px;
  margin-bottom: 8px;
}
.reg-form h2, .log-form h2 {
  text-align: center;
}
.reg-form input, .log-form input {
  display: inline-block;
  width: calc(100% - 110px);
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.reg-form input[name="register"], .log-form input[name="login"] {
  display: block;
  margin: 0 auto;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
}